@page
@model Soundify.Pages.AddSongModel
@{
}



<h3>Add music</h3>
<form method="post" asp-page="AddSong" enctype="multipart/form-data">
    <table cellpadding="2" cellspacing="2">
        <tr>
            <td>Name</td>
            <td>
                <input id="song_title" type="text" asp-for="music.Name" />
            </td>
        </tr>

        <tr>
            <td>Author</td>
            <td>
                <input id="song_author" type="text" asp-for="music.Author" />
            </td>
        </tr>

        <tr>
            <td>Track</td>
            <td>
                <input id="file_input" type="file" asp-for="Upload" accept="audio/*" />
            </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Save" />
            </td>
        </tr>
    </table>
</form>

<script src="~/js/addSong.js"></script>
