@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<link rel="stylesheet" href="~/css/index.css" />

<div class="content_container">
    <section class="left_menu">
        Left menu
    </section>

    <section class="song_list_container">
        <div class="grid_container song_list_header">
            <div class="grid_row">
                <div class='grid_col-1'>
                    
                </div>
                <div class='grid_col-4'>Name</div>
                <div class='grid_col-4'>Author</div>
                <div class='grid_col-2'>Duration</div>
                <div class='grid_col-1'></div>
            </div>
        </div>

        <div class="grid_container song_list">

          
        </div>
    </section>

    <section class="player_container">

        <div id="song_title">
                
        </div>

        <div class="button_previous" onclick="previousSong()">
            <i class="fas fa-backward"></i>
        </div>

        <audio id="player" volume=0.5 controls>
                
        </audio>

        <div class="button_next" onclick="nextSong()">
            <i class="fas fa-forward"></i>
        </div>
        

    </section>
</div>

<script src="~/js/index.js"></script>



