div.content_container {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-flow: wrap;
    position: relative;
}

.left_menu {
    height: calc(100% - 90px);
    width: 20%;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    padding: 5px;
}

input {
    margin-top: 10px;
    width: 90%;
    outline: none;
    border-radius: 20px;
    padding: 3px 6px;
    border: solid 1px #505050;
    font-size: 14px;
    max-width: 200px;
}

input[type=submit]:hover {
    cursor: pointer;
    background-color: #606060;
    color: white;
}

.left_menu #playlist_list {
    display: flex;
    flex-flow: column;
    width: 100%;
    overflow-y: auto;
}

.left_menu #playlist_list .playlist_item:first-child {
    border-bottom: solid 1px #505050;
}

.new_playlist {
    width: 100%;
    padding: 5px 10px;
    background-color: #505050;
    color: whitesmoke;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.new_playlist i {
    font-size: 24px;
    margin-right: 10px;
    font-weight: bold;
}

.new_playlist:hover {
    background-color: #303030;
    color: #ffffff;
}

.button_options {
    position: relative;
}

.song_options {
    position: fixed;
    min-width: 150px;
    background: #d8d8d8;
    box-shadow: 1px 1px 4px -1px black;
    flex-flow: column;
    display: flex;
    z-index: 1;
}

.song_options > .option_item {
    color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    box-sizing: border-box;
    font-weight: normal;
    white-space: nowrap;
    padding: 5px;
}

.song_options > .option_item:hover {
    background-color: #404040;
    color: #c5c6c7;
}

#playlist_list .playlist_item {
    padding: 10px;
    cursor: pointer;
    color: #505050;
}

#playlist_list .playlist_item:hover {
    color: #000000;
    font-weight: 500;
}

.song_list_container {
    height: calc(100% - 90px);
    width: 80%;
    position: relative;
}

.song_list_container .song_list_header {
    width: calc(100% - 10px);
    height: 40px;
    z-index: 1;
}

.song_list_container .song_list {
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: scroll;
    z-index: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 2px #404040;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.song_list > div:nth-child(2n + 1) {
    background-color: #EEEEEE;
}

.song_list .grid_row {
    height: 30px;
}

.song_list .grid_row.active {
    border: solid 1px #404040;
    font-weight: 500;
}

.song_list .grid_row.active.playing .button_play {
    display: none;
}

.song_list .grid_row .button_pause {
    display: none;
}

.song_list .grid_row.active.playing .button_pause {
    display: flex;
}

.playlist_item.active {
    font-weight: bold !important;
}


[class*="button_"] {
    border-radius: 50%;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    box-shadow: 1px 1px 2px #303030;
    min-width: 25px;
    min-height: 25px;
    cursor: pointer;
    color: #606060;
}

[class*="button_"]:hover {
    background-color: #606060;
    color: white;
}

.player_container {
    width: 100%;
    height: 90px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: center;
    background: #f1f3f4;
    box-shadow: 0px 0px 0px #888, 0px -1px 8px #999;
    z-index: 0;
}

.player_container audio {
    width: 80%;
    outline: none;
}

.button_previous,
.button_next {
    width: 30px;
    height: 30px;
    box-shadow: none;
}

#song_title {
    width: 100%;
    text-align: center;
    padding-top: 7px;
    font-weight: 400;
}

.form_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.form_container form {
    border-radius: 20px;
    box-shadow: 1px 1px 8px -4px black;
    position: absolute;
    width: 400px;
    height: 400px;
    background: white;
    left: calc(50% - 200px);
    top: calc(50% - 200px);
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.hidden {
    display: none;
}

form div.message {
    text-align: center;
}

form div.message.success {
    color: green;
} 

form div.message.fail {
    color: red;
} 

.dummy_form {
    display: none;
}

.click_blocker {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    cursor: pointer;
    backdrop-filter: blur(3px);
}